/*=== Home Page General Section ===*/
.index-main {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      'aw-1-1 aw-1-2 aw-1-3 aw-1-4'
      'aw-1-5 aw-1-6 aw-1-7 aw-1-8'
      'aw-1-9 aw-1-10 aw-1-11 aw-1-12'
      'aw-1-13 aw-1-14 aw-1-15 aw-1-16';
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;    
  }
  
  /*=== Home Page Boxes Section ===*/
  /* Individual Artworks */
  #aw-1-1 {
    grid-area: aw-1-1;
    height: 250px;
  }
  #img-aw-1-1 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-2 {
    grid-area: aw-1-2;
    height: 250px;
  }
  #img-aw-1-2 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-3 {
    grid-area: aw-1-3;
    height: 250px;
  }
  #img-aw-1-3 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-4 {
    grid-area: aw-1-4;
    height: 250px;
  }
  #img-aw-1-4 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-5 {
    grid-area: aw-1-5;
    height: 250px;
  }
  #img-aw-1-5 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-6 {
    grid-area: aw-1-6;
    height: 250px;
  }
  #img-aw-1-6 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-7 {
    grid-area: aw-1-7;
    height: 250px;
  }
  #img-aw-1-7 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-8 {
    grid-area: aw-1-8;
    height: 250px;
  }
  #img-aw-1-8 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-9 {
    grid-area: aw-1-9;
    height: 250px;
  }
  #img-aw-1-9 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-10 {
    grid-area: aw-1-10;
    height: 250px;
  }
  #img-aw-1-10 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-11 {
    grid-area: aw-1-11;
    height: 250px;
  }
  #img-aw-1-11 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-12 {
    grid-area: aw-1-12;
    height: 250px;
  }
  #img-aw-1-12 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-13 {
    grid-area: aw-1-13;
    height: 250px;
  }
  #img-aw-1-13 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-14 {
    grid-area: aw-1-14;
    height: 250px;
  }
  #img-aw-1-14 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-15 {
    grid-area: aw-1-15;
    height: 250px;
  }
  #img-aw-1-15 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-16 {
    grid-area: aw-1-16;
    height: 250px;
  }
  #img-aw-1-16 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  /* General Artwork Values */
  .relative {
    position: relative;
  }
  .absolute {
    position: absolute;
  }
  .artwork {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  }
  .inner {
    height: 100%;
    width: 100%;
  }
  .artwork-img {
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 3px 3px 3px 3px;
  }
  .artwork-container {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 3px 3px 3px 3px;
  }
  .artwork-underlay {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 3px 3px 3px 3px;
  }
  .artwork-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--color-off-white);
    border-radius: 3px 3px 3px 3px;
    opacity: 0;
    transition: .5s ease;  
  }
  .artwork-container:hover .artwork-overlay {
    opacity: 1;
  }
  
  /*=== Home Page Additional Section ===*/
  /* Home Page Media Queries */
  @media (max-width: 1351px) {
    .index-main {
      grid-template-areas:
      'aw-1-1 aw-1-2'
      'aw-1-3 aw-1-4'
      'aw-1-5 aw-1-6'
      'aw-1-7 aw-1-8'
      'aw-1-9 aw-1-10'
      'aw-1-11 aw-1-12'
      'aw-1-13 aw-1-14'
      'aw-1-15 aw-1-16';
    }
  }
  @media (max-width: 768px) {
    .index-main {
      grid-template-areas:
      'aw-1-1 aw-1-2'
      'aw-1-3 aw-1-4'
      'aw-1-5 aw-1-6'
      'aw-1-7 aw-1-8'
      'aw-1-9 aw-1-10'
      'aw-1-11 aw-1-12'
      'aw-1-13 aw-1-14'
      'aw-1-15 aw-1-16';
    }
  }
  @media (max-width: 584px) {
    .index-main {
      grid-template-areas:
      'aw-1-1'
      'aw-1-2'
      'aw-1-3'
      'aw-1-4'
      'aw-1-5'
      'aw-1-6'
      'aw-1-7'
      'aw-1-8'
      'aw-1-9'
      'aw-1-10'
      'aw-1-11'
      'aw-1-12'
      'aw-1-13'
      'aw-1-14'
      'aw-1-15'
      'aw-1-16';
    }
  }
