/*=== Home Page General Section ===*/
.index-main {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      'pi pi pi pi'
      'aw-1-1 aw-1-2 aw-1-3 aw-1-4'
      'aw-1-5 aw-1-6 aw-1-7 aw-1-8'
      'aw-1-9 aw-1-10 aw-1-11 aw-1-12'
      'aw-1-13 aw-1-14 aw-1-15 aw-1-16';
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;    
  }


  
  /*=== Home Page Boxes Section ===*/
  #pi {
    grid-area: pi;
    height: 50px;
  }
  /* Individual Artworks */
  #aw-1-1 {
    grid-area: aw-1-1;
    height: 250px;
  }
  #img-aw-1-1 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-2 {
    grid-area: aw-1-2;
    height: 250px;
  }
  #img-aw-1-2 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-3 {
    grid-area: aw-1-3;
    height: 250px;
  }
  #img-aw-1-3 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-4 {
    grid-area: aw-1-4;
    height: 250px;
  }
  #img-aw-1-4 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-5 {
    grid-area: aw-1-5;
    height: 250px;
  }
  #img-aw-1-5 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-6 {
    grid-area: aw-1-6;
    height: 250px;
  }
  #img-aw-1-6 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-7 {
    grid-area: aw-1-7;
    height: 250px;
  }
  #img-aw-1-7 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-8 {
    grid-area: aw-1-8;
    height: 250px;
  }
  #img-aw-1-8 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-9 {
    grid-area: aw-1-9;
    height: 250px;
  }
  #img-aw-1-9 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-10 {
    grid-area: aw-1-10;
    height: 250px;
  }
  #img-aw-1-10 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-11 {
    grid-area: aw-1-11;
    height: 250px;
  }
  #img-aw-1-11 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-12 {
    grid-area: aw-1-12;
    height: 250px;
  }
  #img-aw-1-12 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-13 {
    grid-area: aw-1-13;
    height: 250px;
  }
  #img-aw-1-13 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-14 {
    grid-area: aw-1-14;
    height: 250px;
  }
  #img-aw-1-14 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-15 {
    grid-area: aw-1-15;
    height: 250px;
  }
  #img-aw-1-15 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  #aw-1-16 {
    grid-area: aw-1-16;
    height: 250px;
  }
  #img-aw-1-16 {
    background: url(https://source.unsplash.com/gySMaocSdqs);
    background-size: cover;
    background-position: center;
  }

  /* General Article Values */
  .relative {
    position: relative;
  }
  .absolute {
    position: absolute;
  }

  /* Artworks */
  .page-indicator {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  }
  .artwork {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  }
  .inner {
    height: 100%;
    width: 100%;
  }
  .artwork-img {
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 3px 3px 3px 3px;
  }

  .artwork img {
    width:100%;
    height: 100%;
  }
  
  /* Large Article */
  .article-large {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  }

  .large {
    height: 100%;
    width: 100%;
  }
  .article-img {
    background-size: cover;
    background-position: center;
  
    position: relative;
    height: 80%;
    width: 100%;
    border-radius: 3px 3px 0 0;
  }
  .article-text {
    padding: 0.8rem;
    position: relative;
    height: 20%;
    width: 100%;
    background-color: #5a5a5a;
    border-radius: 0 0 3px 3px;
  }
  .title-text {
    color: #fff;
    align-items: center;
  }
  .title {
    font-size: clamp(1.4rem, 2vw, 8rem);
    margin-bottom: clamp(5px, 1vw, 10px);
  }
  .subtitle {
    font-size: clamp(0.75rem, 1vw, 1rem);
  }
  
  /* Medium Article */
  .article-medium {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  }
  .medium {
    height: 100%;
    width: 100%;
  }
  .article-filler {
    position: relative;
    height: 60%;
    width: 100%;
    border-radius: 3px 3px 0 0;
  }
  .article-blend{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    position: relative;
    height: 20%;
    width: 100%;
  }
  .article-shadow {
    padding: 0.8rem;
    position: relative;
    height: 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 3px 3px;
  }
  .medium-title {
    font-size: clamp(0.6rem, 1.1vw, 1rem);
  }
  
  /* Small Article */
  .article-small {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  }
  .small {
    height: 100%;
    width: 100%;
  }
  .small-title {
    font-size: clamp(0.6rem, 1.1vw, 1rem);
  }
  
  /*=== Home Page Additional Section ===*/
  /* Home Page Media Queries */
  @media (max-width: 1351px) {
    .index-main {
      grid-template-areas:
      'pi pi'
      'aw-1-1 aw-1-2'
      'aw-1-3 aw-1-4'
      'aw-1-5 aw-1-6'
      'aw-1-7 aw-1-8'
      'aw-1-9 aw-1-10'
      'aw-1-11 aw-1-12'
      'aw-1-13 aw-1-14'
      'aw-1-15 aw-1-16';
    }
  }
  @media (max-width: 768px) {
    .index-main {
      grid-template-areas:
      'pi pi'
      'aw-1-1 aw-1-2'
      'aw-1-3 aw-1-4'
      'aw-1-5 aw-1-6'
      'aw-1-7 aw-1-8'
      'aw-1-9 aw-1-10'
      'aw-1-11 aw-1-12'
      'aw-1-13 aw-1-14'
      'aw-1-15 aw-1-16';
    }
  }
  @media (max-width: 584px) {
    .index-main {
      grid-template-areas:
      'pi'
      'aw-1-1'
      'aw-1-2'
      'aw-1-3'
      'aw-1-4'
      'aw-1-5'
      'aw-1-6'
      'aw-1-7'
      'aw-1-8'
      'aw-1-9'
      'aw-1-10'
      'aw-1-11'
      'aw-1-12'
      'aw-1-13'
      'aw-1-14'
      'aw-1-15'
      'aw-1-16';
    }
  }
